<% if(success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
        <% if(danger.length){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= danger %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if(info.length){ %>
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <%= info %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>