<nav class="navbar navbar-expand-lg d-flex" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">Kursy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <% if(currentUser){ %>
                    <li class="nav-item mx-1">
                        <a class="btn btn-outline-danger" aria-current="page" href="/create">Create</a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</nav>