#mainNav{
    background: #1f2029;
}

#mainNav .navbar-brand {
    color: #ffeaa7;
    font-weight: bold;
    font-size: 24px;
}

#main h6 {
    color: #333;
    font-size: .6em;
    font-weight: 500;
    margin-bottom: 1.5em;
}

#main ul {
    list-style: none;
    padding: 0;
}

#main li {
    margin: .5em 0;
}
#main li a {
    color: #333;
    text-decoration: none;
}