<% layout('layouts/boilerplate') %>
    <form action="/" method="POST">
        <label for="category">Create Category</label>
        <input type="text" id="category" name="category">
        <button class="btn btn-info text-white">Submit</button>
    </form>